<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<link rel="canonical" href="{{ .Permalink | replaceRE "\\.html$" "" | replaceRE "/+$" "" }}" />

{{- with .Params.seoTitle }}
<title>{{ . | title }}</title>
{{- else }}
<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
{{- end }}

{{- with .Params.seoDescription }}
<meta name="description" content="{{ . }}" />
{{- end }}

<!-- SEO мета-теги для мов -->
{{ if eq .Site.Language.Lang "uk" }}
  <meta name="title" content="VP Production - Ваш партнер у створенні аудіо продуктів" />
  <meta name="description" content="VP Production пропонує професійні послуги з аудіо продукції для ваших креативних потреб." />
{{ else if eq .Site.Language.Lang "en" }}
  <meta name="title" content="VP Production - Your Partner in Audio Production" />
  <meta name="description" content="VP Production offers professional audio production services for your creative needs." />
{{ end }}

{{ if isset .Params "tags" }}
{{ with .Params.tags }}
{{ $tags := delimit . "," }}
<meta name="keywords" content="{{ $tags }}">
{{ end }}
{{ end -}}

{{- with .Site.Params.noIndex }}
<meta name="robots" content="noindex">
{{- end }}

<meta name="theme-color" content="#000000">
<link rel="icon" type="image/png" href="/images/favicon-32x32.png" />
